.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cont{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.h1{
    position: absolute;
    top: 240px;
    width: 520px;
    font-size: 70px;
    font-family: serif;
    font-weight: bolder;
    padding: 20px;
    box-shadow: 10px 10px 20px gray;
}
@media (max-width: 628px){
    .h1{
        width: 320px;
        font-size: 40px;
    }
}

@media (max-width: 427px){
    .h1{
        width: 200px;
        font-size: 20px;
    }
}