.swiper-button-prev,
.swiper-button-next {
    background-color: yellowgreen !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 22px !important;
    font-weight: bolder !important;
}

@media (max-width:443px) {

    .swiper-button-prev,
    .swiper-button-next {
        width: 40px !important;
        height: 40px !important;
    }
}

@media (max-width:355px) {

    .swiper-button-prev,
    .swiper-button-next {
        width: 30px !important;
        height: 30px !important;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 16px !important;
        font-weight: bolder !important;
    }
}